spring:
    datasource:
        url: jdbc:postgresql://DBHOST:5432/DBNAME
        driver-class-name: org.postgresql.Driver
        username: USER_NAME
        password: PASSWORD
        max-active: 10
        max-wait: 10000
        test-on-borrow: true
        test-while-idle: true
        time-between-eviction-runs-millis: 60000
        validation-query: "select 1"

flyway:
    enabled: false

bricolage:
    event-queue:
        url: ${bricolage.event.queue.url}
    log-queue:
        url: ${bricolage.log.queue.url}
    mappings:
        - src-url-pattern: "s3://src-bucket/(\\w{4}\\.(\\w+\\.\\w+))/(\\d{4}/\\d{2}/\\d{2})/(.*\\.gz)"
          stream-prefix: "$1"
          stream-name: "$2"
          dest-bucket: dst-bucket
          dest-prefix: "$1"
          object-prefix: "$3"
          object-name: "$4"
